<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 写Sql语句   -->
<mapper namespace="cn.hassan.dao.UserMapper">

    <!--缓存配置-->
    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"/>

    <sql id="table">
        user
    </sql>

    <resultMap id="userOrders" type="user">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="birthday" property="birthday"/>
        <result column="sex" property="sex"/>
        <result column="address" property="address"/>
        <collection property="ordersList" ofType="orders" column="id" select="findOrders"/>
    </resultMap>

    <select id="findUserOrders" parameterType="integer" resultMap="userOrders">
        select * from user where id = #{id}
    </select>

    <select id="findOrders" parameterType="integer" resultType="orders">
        select * from orders where user_id = #{id}
    </select>

    <!-- 通过ID查询一个用户 -->
    <select id="findUserById" parameterType="Integer" resultType="User">
        select * from <include refid="table"/> where id = #{id}
    </select>

    <!-- //根据用户名称模糊查询用户列表
    #{}    select * from user where id = ？    占位符  ? ==  '五'
    ${}    select * from user where username like '%五%'  字符串拼接

     -->
    <select id="findUserByUsername" parameterType="queryVo" resultType="user">
        select * from user where username like "%${user.username}%"
    </select>

    <!-- 添加用户 -->
    <insert id="insertUser" parameterType="cn.hassan.pojo.User">
        insert into user (username,birthday,sex,address)
        values (#{username},#{birthday},#{sex},#{address})
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!-- 更新 -->
    <update id="updateUserById" parameterType="cn.hassan.pojo.User">
        update user
        set username = #{username},sex = #{sex},birthday = #{birthday},address = #{address}
        where id = #{id}
    </update>

    <!-- 删除 -->
    <delete id="deleteUserById" parameterType="Integer">
        delete from user
        where id = #{id}
    </delete>


</mapper>